@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to right, #FFFFFF, #fedede);
}

.compatibility-one {
  background-image: linear-gradient(to right, #EFF31D, #E1A227);
  animation: blink 1s infinite ease-in-out;
  animation-delay: 0.3s;
  box-shadow: 0 0 5px 5px #E1A227; /* Initial shadow */
}

@keyframes blink {
  0% {
 
    box-shadow: 0 0 5px 3px rgba(180, 204, 73, 0.4); /* Visible shadow */
  }
  50% {
    box-shadow: 0 0 0 0 rgba(180, 204, 73, 0.4); /* No shadow */


  }
  100% {

    box-shadow: 0 0 5px 3px rgba(180, 204, 73, 0.4)  ; /* Back to visible shadow */
  }
}
.compatibility-two {
  background-image: linear-gradient(to right, #60E033, #33E0B6);
  animation: blinktwo 1s infinite ease-in-out;
  
}

.coffe-cup-reading-img {
    box-shadow: 0 0 5px 3px rgba(73, 203, 117, 0.4); 
}

@keyframes blinktwo {
  0% {
    box-shadow: 0 0 5px 3px rgba(73, 203, 117, 0.4); 
  }
  50% {
    box-shadow: 0 0 0 0 rgba(73, 203, 117, 0.4); 

  }
  100% {
    box-shadow: 0 0 5px 3px rgba(73, 203, 117, 0.4)  ; /* Back to visible shadow */
  }
}



@layer base {
  p {
    @apply font-raleway
  }
  .burger-menu {
    @apply flex flex-col justify-around w-[30px] h-[24px] cursor-pointer;
  }

  .burger-menu .line {
    @apply w-full h-[4px] bg-gray-800 transition-all duration-300 ease-in-out;
  }

  .burger-menu.active .line:nth-child(1) {
    @apply transform rotate-45 translate-x-[5px] translate-y-[5px];
  }

  .burger-menu.active .line:nth-child(2) {
    @apply opacity-0;
  }

  .burger-menu.active .line:nth-child(3) {
    @apply transform -rotate-45 translate-x-[5px] -translate-y-[10px];
  }
  .mycontainer {
    @apply max-w-[1200px] mx-auto px-4;
  }
  nav.active {
    right: 0;
  }
  h2 {
    @apply font-bold  
  }
}